framework >= net40
source https://www.nuget.org/api/v2

nuget FAKE
nuget Suave
nuget FSharp.Data
nuget Newtonsoft.Json
nuget FSharp.Compiler.Service
nuget FSharp.Compiler.Tools
nuget FSharp.Azure.StorageTypeProvider